<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbarstyle">
        <div class="row rowstyle">
            <div class="navbar-header">
                @Html.ActionLink("LOGO", "Index", "Home", new { @class = "navbar-brand claselogo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="subnavbar">
                    <li id="textnavbar">@Html.ActionLink("Resultats", "Resultats", "Home")</li>
                    <li id="textnavbar">@Html.ActionLink("Repas", "MapaCatalunya", "Home")</li>
                    <li id="textnavbar">@Html.ActionLink("Qui som?", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
