<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="row">
        <div class="col-md-4">aaaa</div>
        <div class="col-md-4">ssss</div>
        <div class="col-md-4">dddd</div>
    </div>
            <div class="navbar navbar-inverse navbar-fixed-top" id="navbarstyle">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("LOGO", "Index", "Home", new { @class = "navbar-brand claselogo" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" id="subnavbar">
                            <li id="textnavbar">@Html.ActionLink("Qualificacions", "Index", "Home")</li>
                            <li id="textnavbar">@Html.ActionLink("Resultats", "Resultats", "Home")</li>
                            <li id="textnavbar">@Html.ActionLink("Repas", "MapaCatalunya", "Home")</li>
                            <li id="textnavbar">@Html.ActionLink("Qui som", "About", "Home")</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer></footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
