@{
    ViewBag.Title = "Home Page";
}



<div class="container">

    <img src="~/Content/Images/apcatGranBlanc.png" class="logoIndex img-responsive" />



    <div>

        <div id="accordion">
            <div class="list-group-item llistaIndex">
                <div id="headingOne">                  
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h2>Activitat 1</h2>
                        </button>                    
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="cosActivitat">
                        <div class="textActivitat col-sm-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac laoreet ligula. Praesent fermentum mauris eu nulla gravida, in finibus ipsum vehicula. Donec tristique enim felis. Maecenas ac tortor a augue placerat facilisis. Morbi nec sapien erat. Pellentesque augue mauris, pretium vitae vulputate at, iaculis vitae augue. Cras a augue lacus. Donec dictum augue magna, non facilisis libero luctus et.
                        </div>
                        <div class="imageActivitat col-sm-4 ">
                            <img src="~/Content/Images/apcatGran.png" class="imageActivitatDins img-responsive" />
                        </div>

                    </div>
                    <div class="topActivitats">
                        @Html.ActionLink("Anar a l'activitat", "Act1_ClickComarca", "Home", new { @class = "btn btn-default botoActivitat" })
                        @Html.ActionLink("Resultats", "Resultats", "Home", new { @class = "btn btn-default botoActivitat" })

                    </div>
                   </div>
            </div>
            <div class="list-group-item llistaIndex">
                <div id="headingTwo">                   
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h2>Activitat 2</h2>
                        </button>                   
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="cosActivitat">
                        <div class="textActivitat col-sm-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac laoreet ligula. Praesent fermentum mauris eu nulla gravida, in finibus ipsum vehicula. Donec tristique enim felis. Maecenas ac tortor a augue placerat facilisis. Morbi nec sapien erat. Pellentesque augue mauris, pretium vitae vulputate at, iaculis vitae augue. Cras a augue lacus. Donec dictum augue magna, non facilisis libero luctus et.
                        </div>
                        <div class="imageActivitat col-sm-4 ">
                            <img src="~/Content/Images/apcatGran.png" class="imageActivitatDins img-responsive" />
                        </div>

                    </div>
                    <div class="topActivitats">
                        @Html.ActionLink("Anar a l'activitat", "Activitat2", "Home", new { @class = "btn btn-default botoActivitat" })
                        @Html.ActionLink("Resultats", "Resultats", "Home", new { @class = "btn btn-default botoActivitat" })
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item llistaIndex">
            <div id="headingThree">               
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h2>Activitat 3</h2>
                    </button>               
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="cosActivitat">
                    <div class="textActivitat col-sm-8">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac laoreet ligula. Praesent fermentum mauris eu nulla gravida, in finibus ipsum vehicula. Donec tristique enim felis. Maecenas ac tortor a augue placerat facilisis. Morbi nec sapien erat. Pellentesque augue mauris, pretium vitae vulputate at, iaculis vitae augue. Cras a augue lacus. Donec dictum augue magna, non facilisis libero luctus et.
                    </div>
                    <div class="imageActivitat col-sm-4 ">
                        <img src="~/Content/Images/apcatGran.png" class="imageActivitatDins img-responsive" />
                    </div>

                </div>
                <div class="topActivitats">
                    @Html.ActionLink("Anar a l'activitat", "Act1_ClickComarca", "Home", new { @class = "btn btn-default botoActivitat" })
                    @Html.ActionLink("Resultats", "Resultats", "Home", new { @class = "btn btn-default botoActivitat" })
                </div>
            </div>
        </div>
    </div>
</div>


    </div>

</div>

